<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<property name="connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>

		<!-- Log all the executed SQL statements to the Console -->
		<property name="show_sql">true</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MariaDBDialect</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>
		<property name="format_sql">true</property>
		
		<property name="hibernate.enable_lazy_load_no_trans">true</property>

		<!-- Names the annotated entity class -->
		<mapping class="com.purbarun.hibernate.dto.Team" />
		<mapping class="com.purbarun.hibernate.dto.Player" />
	</session-factory>
</hibernate-configuration>
